<launch>
  <arg name="multi_robot_name" default=""/>
  <arg name="set_lidar_frame_id" default="base_scan"/>
  <arg name="ibus_serial_port" default="/dev/ttyTHS1"/>

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_core.launch">
    <arg name="multi_robot_name" value="$(arg multi_robot_name)"/>
  </include>

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_lidar.launch">
    <arg name="set_frame_id" value="$(arg set_lidar_frame_id)"/>
  </include>

  <include file="$(find jetson_csi_cam)/jetson_csi_cam_inference.launch">
  </include>

  <node pkg="turtlebot3_bringup" type="turtlebot3_diagnostics" name="turtlebot3_diagnostics" output="screen"/>

  <node pkg="ibus_protocol" type="ibus_publisher" name="ibus_publisher" output="screen">
    <param name="serial_port_name" value="$(arg ibus_serial_port)"/>
  </node>

  <node pkg="ibus_protocol" type="ibus_subscriber_twist" name="ibus_subscriber" output="screen"/>
</launch>
